/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  } */

:root {
  --clr: #222327;
}

.navbar{
  padding-top: 15px;
  position: sticky;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #0c85d6; */
  margin: 0px;
  /* padding: 5px; */
  border: 2px solid red;
  /* background-color: var(--clr); */
  height: 126px;
}
.logo {
  cursor: pointer;
  width: 400px;
  height: 80px;
  background-color: #fff;
}

ul li {
  list-style-type: none;
  display: inline-block;
  font-size: 20px;
  margin-right: 33px;
  color: #20ec0d;
}

.navigation {
  position: relative;
  width: 400px;
  height: 70px;
  background: #fff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
}

.navigation ul {
  display: flex;
  width: 350px;
}

.navigation ul li {
  position: relative;
  list-style: none;
  width: 70px;
  height: 70px;
  z-index: 1;
}

.navigation ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 1.5em;
  text-align: center;
  transition: 0.5s;
  color: var(--clr);
  left: 15px;
}

.navigation ul li.active a .icon {
  transform: translateY(-32px);
}

.navigation ul li a .textt {
  position: absolute;
  color: var(--clr);
  font-weight: 400;
  font-size: 0.75em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(20px);
  left: 15px;
}
.navigation ul li a .service {
  /* position: relative; */
  left: 0px;
}
.navigation ul li a .services {
  /* position: relative; */
  left: 10px;
}

.navigation ul li.active a .textt {
  opacity: 1;
  transform: translateY(10px);
}
.indicator {
  position: absolute;
  top: -50%;
  width: 70px;
  height: 70px;
  background: #29fd53; /* */
  border-radius: 50%;
  border: 6px solid var(--clr);
  transition: 0.5s;
}

.indicator::before{
    content: '';
    position: absolute;
    top:50%;
    left: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 0px -10px 0 0 var(--clr);
}
.indicator::after{
    content: '';
    position: absolute;
    top:50%;
    right: -21px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 25px;
    box-shadow: 0px -10px 0 0 var(--clr);
}

.navigation ul li:nth-child(1).active ~ .indicator {
  transform: translateX(calc(70px * 0));
}
.navigation ul li:nth-child(2).active ~ .indicator {
  transform: translateX(calc(70px * 1));
}
.navigation ul li:nth-child(3).active ~ .indicator {
  transform: translateX(calc(70px * 2));
}
.navigation ul li:nth-child(4).active ~ .indicator {
  transform: translateX(calc(70px * 3));
}
.navigation ul li:nth-child(5).active ~ .indicator {
  transform: translateX(calc(70px * 4));
}
