@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
html {
  font-size: 62.5%;
}
:root {
  --clr: #222327;
}

body::before {
  content: "";
  position: absolute;
  /* background: url(/pics/homebg.jpeg); */
  background-size: cover;
  z-index: -1;
  height: 20%;
  width: 20%;
  transform: scale(5);
  transform-origin: top left;
  filter: blur(0.1px);
  background-color: var(--clr);
}

.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: fit-content;
  height: 40em;
  /* border: 10px solid rebeccapurple; */
  overflow: visible;
}

.hero-section .about {
  /* border: 3px solid red; */
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  overflow: hidden;
}
.hero-section .about div {
  content: "";
}
.hero-section .about h1 {
  content: "";
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: teal;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  user-select: none;
}
.next {
  left: 626px;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  background-color: rgba(59, 168, 38, 0.8);
  border-radius: 2px;
  color: antiquewhite;
}

/* Hero-section starts here */

.hero-section .about div img {
  width: 100%;
  height: 100%;
}
#truck {
  width: 100%;
  height: 400px;
}
.hero-section .about {
  border: 3px solid red;
  height: -webkit-fill-available;
  width: -webkit-fill-available;
}
.hero-section .about div {
  /* display: inline-block;
  justify-content: center;
  align-items: center; */
  content: "";
}
.hero-section .about h1 {
  content: "";
}
.text {
  color: var(--clr);
  font-size: 15px;
  padding: "";
  position: absolute;
  width: 170px;
  text-align: center;
  font-size: x-large;
  top: 76%;
  left: 235px;
  color: var(--clr);
  background-color: white;
  border-radius: 8px;
}
.numbertext {
  color: #020302;
  font-size: 12px;
  font-weight: bolder;
  padding: "";
  position: absolute;
  top: "";
  left: 6px;
}
#oneupon {
  color: antiquewhite;
}
.fade {
  animation-name: fade;
  animation-duration: 3.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.hero-section .partners {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  /* grid-gap: 3px; */
  height: 100%;
  grid-gap: 3px;
  height: -webkit-fill-available;
}
.hero-section .partners div img {
  height: 100%;
  width: 200px;
}
.partners div {
  /* border: 1px solid red; */
  width: 199px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
@media only screen and (max-width: 1000px) {
  .hero-section {
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: -webkit-fill-available;
  }
}

.partners .ourPartners,
.ourService {
  position: absolute;
  /* left: 72%;
  top: auto; */
  font-size: large;
  font-weight: 900;
  color: aliceblue;
  margin: 0px 0px 10px 0px;
  padding: 0px;
  background-color: white;
  color: var(--clr);
  border-radius: 10px;
  width: 140px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: medium;
}

.partners .ourPartners {
  top: 128px;
  right: 230px;
}
.about .ourService {
  top: 128px;
  left: 250px;
}

main {
  margin-top: 35px;
}
